<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:banners, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:banners, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:banners, :edit, :id => @banner.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :banner, url(:banners, :update, :id => @banner.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'banners/form', :locals => { :f => f } %>
  <% end %>
</div>
